.App {

}

.Paper{
  padding: 20px;
  max-width: 275px;
}

.main{
  padding: 60px 10px 10px;
}

.addTodo{
  margin: 30px
}

@media screen and (max-width: 380px) {
  .Paper {
      padding: 15px;
  }
}

@media screen and (max-width: 1200px){
  .addTodo{
    justify-content: center;
    margin: 30px auto;
  }
}

.task{
  align-items: center;
}


.is-done {
  opacity: 0.5;
  filter: grayscale(100%);
}

ol{
  list-style-type: decimal;
  padding-inline-start: 0;
  word-break: break-all;
}

ol span{
  margin: 5px 0;

}

li{
  color: #1976d2;
  display: grid;
  grid-template-columns: 22px 4fr 36px;
  gap: 10px;
}

